<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/heads') %>
  </head>
  <body>
    <%- include('partials/navigation')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center aling-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, iusto fuga! Voluptates architecto aut sequi laboriosam tempora impedit non iure, laudantium molestiae! Repudiandae numquam voluptatum nobis! Id iste aliquid reprehenderit reiciendis vitae porro, nostrum quis in temporibus ducimus nesciunt nulla eos praesentium rem, aliquam commodi beatae neque alias! Mollitia beatae, quidem quibusdam placeat, asperiores deserunt dignissimos modi eum rerum dolore vel? Quae, esse? Similique sit ratione qui error magni, totam itaque soluta corporis deleniti ea accusantium! Laudantium unde, illum minus temporibus harum quo eaque dolorum ipsa dicta. Impedit laboriosam eaque natus ducimus nisi, molestiae, explicabo aliquam accusamus magni esse eligendi! Soluta cum non corrupti asperiores vitae voluptates impedit dolorem alias debitis. Quia quisquam quos natus atque dicta adipisci amet? Obcaecati eum eveniet nam? Cumque debitis accusamus quos repellendus odit neque eum assumenda voluptate amet magni architecto, qui doloremque rerum perferendis eius quibusdam dolorum eos repellat fuga, velit porro itaque dignissimos dolor ea? Minus saepe in sed suscipit maxime minima inventore voluptas quia perferendis! Reprehenderit, corporis reiciendis? Quod fugiat accusamus repudiandae eum ut! Corrupti minima rerum voluptatum, veniam alias eum, totam ab vero cupiditate voluptate fugit perspiciatis iste fuga culpa. Consequuntur quod vitae, non nam cum cumque tempore officia atque suscipit!</p>

      </section>
    </main>

    <%- include('partials/footer')%>
  </body>
</html>
