<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/heads') %>
  </head>
  <body>
    <%- include('partials/navigation')%> <%# Main content %>
    <header class="container vh-50 d-flex justify-content-center">
      <div class="d-flex flex-column justify-content-center aling-items-center">
        <h1 class="display-1 my-5 text-uppercase fw-bold">Main Page</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
          iste modi ab non assumenda tenetur perspiciatis, nemo quasi,
          consequatur vero ex. Perspiciatis tempore tenetur ipsa illo libero
          nobis quibusdam id minus exercitationem qui est necessitatibus modi,
          voluptas sed et expedita eaque quod maxime. Ipsam et rerum vero odit
          quidem quod eligendi error adipisci! Aspernatur cupiditate sit, quod
          nostrum sequi pariatur accusantium illo repudiandae delectus tempora
          maxime molestias dolorem aperiam unde velit molestiae neque doloremque
          totam accusamus. Natus animi optio repellat minus quos tenetur numquam
          molestiae fugit libero veritatis, suscipit dolorum voluptates et
          exercitationem laudantium qui, autem assumenda provident quae ducimus!
        </p>
      </div>
    </header>

    <%- include('partials/footer') %>
  </body>
</html>
